{
  "discord": {
    "clientId": "",
    "token": "",
    "logWebhook": "",
    "disableWebhook": false
  },
  "mongodb": {
    "url": "",
    "db": ""
  },
  "steam": {
    "apiKey": ""
  },
  "csgo": {
      "gsi": {
        "port": 33000,
        "authToken": ""
      }
    }
}